### Data Integration

In [1]:
# Code to import libraries as you need in this assessment
import numpy as np
import pandas as pd
import datetime
import re
import random

In [2]:
df1 = pd.read_csv('../cleaned_csv/cleaned_gov_measured.csv')
df2 = pd.read_csv('../cleaned_csv/covid19_cumulative_monthly_stats.csv')
df3 = pd.read_csv('../cleaned_csv/covid19_monthly_statistics.csv')
# Display two dataframes together to compare
print('S1:' + str(df1.shape))
display(df1.head())
print('S2:' + str(df2.shape))
display(df2.head())
print('S3:' + str(df3.shape))
display(df3.head())

S1:(3946, 6)

,ISO,COUNTRY,REGION,MAIN_MEASURES,STEPS_TAKEN,DATE_IMPLEMENTED
0,ARG,Argentina,Americas,Public health measures,Awareness campaigns,2020-02
1,ARG,Argentina,Americas,Movement restrictions,Visa restrictions,2020-03
2,ARG,Argentina,Americas,Movement restrictions,International flights suspension,2020-03
3,ARG,Argentina,Americas,Public health measures,Isolation and quarantine policies,2020-03
4,ARG,Argentina,Americas,Social distancing,Limit public gatherings,2020-03

S2:(372, 9)

,ISO,REGION,COUNTRY,month_year,population,stringency_index,total_cases,total_deaths,total_tests
0,ARG,South America,Argentina,2020-01,45195777,11,0,0,432
1,ARG,South America,Argentina,2020-02,45195777,11,0,0,517
2,ARG,South America,Argentina,2020-03,45195777,100,1054,27,7189
3,ARG,South America,Argentina,2020-04,45195777,100,4428,218,70283
4,ARG,South America,Argentina,2020-05,45195777,94,16851,539,202421

S3:(372, 9)

,ISO,REGION,COUNTRY,month_year,population,new_cases,new_deaths,partially_vaccinated,fully_vaccinated
0,ARG,South America,Argentina,2020-04,45195777.0,3374,191,0,0
1,ARG,South America,Argentina,2021-04,45195777.0,628542,8007,152598938,23411293
2,ARG,South America,Argentina,2020-08,45195777.0,226433,5117,0,0
3,ARG,South America,Argentina,2021-08,45195777.0,136489,2848,284004198,89350044
4,ARG,South America,Argentina,2020-12,45195777.0,200981,4515,0,0

In [3]:
#Rename the STEPS_TAKEN column to month_year gov_measures_subset
df1.rename(columns = {'DATE_IMPLEMENTED':'month_year'}, inplace = True)

In [4]:
print (df1.info())
print (df2.info())
print (df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3946 entries, 0 to 3945
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ISO            3946 non-null   object
 1   COUNTRY        3946 non-null   object
 2   REGION         3946 non-null   object
 3   MAIN_MEASURES  3946 non-null   object
 4   STEPS_TAKEN    3946 non-null   object
 5   month_year     3946 non-null   object
dtypes: object(6)
memory usage: 185.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ISO               372 non-null    object
 1   REGION            372 non-null    object
 2   COUNTRY           372 non-null    object
 3   month_year        372 non-null    object
 4   population        372 non-null    int64
 5   stringency_index  372 non-null    int64
 6   total_cases       372 non-null    int64
 7   total_deaths      372 non-null    int64
 8   total_tests       372 non-null    int64
dtypes: int64(5), object(4)
memory usage: 26.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ISO                   372 non-null    object
 1   REGION                372 non-null    object
 2   COUNTRY               372 non-null    object
 3   month_year            372 non-null    object
 4   population            372 non-null    float64
 5   new_cases             372 non-null    int64
 6   new_deaths            372 non-null    int64
 7   partially_vaccinated  372 non-null    int64
 8   fully_vaccinated      372 non-null    int64
dtypes: float64(1), int64(4), object(4)
memory usage: 26.3+ KB
None

In [5]:
df = pd.merge(df2, df3, on=['ISO','REGION','COUNTRY','month_year','population'])
df.head()

,ISO,REGION,COUNTRY,month_year,population,stringency_index,total_cases,total_deaths,total_tests,new_cases,new_deaths,partially_vaccinated,fully_vaccinated
0,ARG,South America,Argentina,2020-01,45195777,11,0,0,432,0,0,0,0
1,ARG,South America,Argentina,2020-02,45195777,11,0,0,517,0,0,0,0
2,ARG,South America,Argentina,2020-03,45195777,100,1054,27,7189,1054,27,0,0
3,ARG,South America,Argentina,2020-04,45195777,100,4428,218,70283,3374,191,0,0
4,ARG,South America,Argentina,2020-05,45195777,94,16851,539,202421,12423,321,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372 entries, 0 to 371
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ISO                   372 non-null    object
 1   REGION                372 non-null    object
 2   COUNTRY               372 non-null    object
 3   month_year            372 non-null    object
 4   population            372 non-null    int64
 5   stringency_index      372 non-null    int64
 6   total_cases           372 non-null    int64
 7   total_deaths          372 non-null    int64
 8   total_tests           372 non-null    int64
 9   new_cases             372 non-null    int64
 10  new_deaths            372 non-null    int64
 11  partially_vaccinated  372 non-null    int64
 12  fully_vaccinated      372 non-null    int64
dtypes: int64(9), object(4)
memory usage: 40.7+ KB

In [7]:
df_final = pd.merge(df1, df, on=['ISO','REGION','COUNTRY','month_year'])
df_final.head()

,ISO,COUNTRY,REGION,MAIN_MEASURES,STEPS_TAKEN,month_year,population,stringency_index,total_cases,total_deaths,total_tests,new_cases,new_deaths,partially_vaccinated,fully_vaccinated
0,CHN,China,Asia,Governance and socio-economic measures,State of emergency declared,2020-01,1439323774,70,9790,213,0,9242,196,0,0
1,CHN,China,Asia,Public health measures,Health screenings in airports and border cross...,2020-01,1439323774,70,9790,213,0,9242,196,0,0
2,CHN,China,Asia,Movement restrictions,Domestic travel restrictions,2020-01,1439323774,70,9790,213,0,9242,196,0,0
3,CHN,China,Asia,Social distancing,Limit public gatherings,2020-01,1439323774,70,9790,213,0,9242,196,0,0
4,CHN,China,Asia,Public health measures,Strengthening the public health system,2020-02,1439323774,81,79261,2835,0,69471,2622,0,0

In [8]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2029 entries, 0 to 2028
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ISO                   2029 non-null   object
 1   COUNTRY               2029 non-null   object
 2   REGION                2029 non-null   object
 3   MAIN_MEASURES         2029 non-null   object
 4   STEPS_TAKEN           2029 non-null   object
 5   month_year            2029 non-null   object
 6   population            2029 non-null   int64
 7   stringency_index      2029 non-null   int64
 8   total_cases           2029 non-null   int64
 9   total_deaths          2029 non-null   int64
 10  total_tests           2029 non-null   int64
 11  new_cases             2029 non-null   int64
 12  new_deaths            2029 non-null   int64
 13  partially_vaccinated  2029 non-null   int64
 14  fully_vaccinated      2029 non-null   int64
dtypes: int64(9), object(6)
memory usage: 253.6+ KB

In [9]:
df_final.drop(['ISO','REGION'], inplace=True, axis=1)

In [10]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2029 entries, 0 to 2028
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COUNTRY               2029 non-null   object
 1   MAIN_MEASURES         2029 non-null   object
 2   STEPS_TAKEN           2029 non-null   object
 3   month_year            2029 non-null   object
 4   population            2029 non-null   int64
 5   stringency_index      2029 non-null   int64
 6   total_cases           2029 non-null   int64
 7   total_deaths          2029 non-null   int64
 8   total_tests           2029 non-null   int64
 9   new_cases             2029 non-null   int64
 10  new_deaths            2029 non-null   int64
 11  partially_vaccinated  2029 non-null   int64
 12  fully_vaccinated      2029 non-null   int64
dtypes: int64(9), object(4)
memory usage: 221.9+ KB

In [14]:
### check duplication
duplicates = df_final[df_final.duplicated(keep=False)] # showing all duplicated records
print ("There are "+ str(len(duplicates)) + " duplicate records found")
duplicates.sort_values(by=duplicates.columns.tolist()).head()

There are 1638 duplicate records found

,COUNTRY,MAIN_MEASURES,STEPS_TAKEN,month_year,population,stringency_index,total_cases,total_deaths,total_tests,new_cases,new_deaths,partially_vaccinated,fully_vaccinated
8,China,Governance and socio-economic measures,Economic measures,2020-03,1439323774,82,81565,3305,0,2304,470,0,0
10,China,Governance and socio-economic measures,Economic measures,2020-03,1439323774,82,81565,3305,0,2304,470,0,0
67,China,Governance and socio-economic measures,Economic measures,2020-04,1439323774,74,82919,4633,0,1354,1328,0,0
99,China,Governance and socio-economic measures,Economic measures,2020-04,1439323774,74,82919,4633,0,1354,1328,0,0
105,China,Governance and socio-economic measures,Economic measures,2020-05,1439323774,82,83062,4634,0,143,1,0,0

In [ ]:
df_final = df_final.drop_duplicates(cols, keep='last')
df_final.shape

In [12]:
# Writing the clean dataframe to csv file
df_final.to_csv('../cleaned_csv/integrated_data.csv', index=False)