### Data Integration

In [1]:
# Code to import libraries as you need in this assessment
import numpy as np
import pandas as pd
import datetime
import re
import random

In [2]:
df1 = pd.read_csv('../cleaned_csv/cleaned_gov_measured.csv')
df2 = pd.read_csv('../cleaned_csv/covid19_cumulative_monthly_stats.csv')
df3 = pd.read_csv('../cleaned_csv/covid19_monthly_statistics.csv')
# Display two dataframes together to compare
print('S1:' + str(df1.shape))
display(df1.head())
print('S2:' + str(df2.shape))
display(df2.head())
print('S3:' + str(df3.shape))
display(df3.head())

S1:(180, 10)

,ISO,COUNTRY,REGION,DATE_IMPLEMENTED,Public health measures,Movement restrictions,Social distancing,Governance and socio-economic measures,Lockdown,Humanitarian exemption
0,ARG,Argentina,South America,2020-02,1,0,0,0,0,0
1,ARG,Argentina,South America,2020-03,1,1,1,1,1,0
2,ARG,Argentina,South America,2020-04,1,1,0,1,1,0
3,ARG,Argentina,South America,2020-05,1,1,1,1,1,0
4,ARG,Argentina,South America,2020-06,1,1,1,1,1,0

S2:(372, 9)

,ISO,REGION,COUNTRY,month_year,population,stringency_index,total_cases,total_deaths,total_tests
0,ARG,South America,Argentina,2020-01,45195777,11,0,0,432
1,ARG,South America,Argentina,2020-02,45195777,11,0,0,517
2,ARG,South America,Argentina,2020-03,45195777,100,1054,27,7189
3,ARG,South America,Argentina,2020-04,45195777,100,4428,218,70283
4,ARG,South America,Argentina,2020-05,45195777,94,16851,539,202421

S3:(372, 9)

,ISO,REGION,COUNTRY,month_year,population,new_cases,new_deaths,partially_vaccinated,fully_vaccinated
0,ARG,South America,Argentina,2020-04,45195777.0,3374,191,0,0
1,ARG,South America,Argentina,2021-04,45195777.0,628542,8007,152598938,23411293
2,ARG,South America,Argentina,2020-08,45195777.0,226433,5117,0,0
3,ARG,South America,Argentina,2021-08,45195777.0,136489,2848,284004198,89350044
4,ARG,South America,Argentina,2020-12,45195777.0,200981,4515,0,0

In [3]:
#Rename the STEPS_TAKEN column to month_year gov_measures_subset
df1.rename(columns = {'DATE_IMPLEMENTED':'month_year'}, inplace = True)

In [4]:
print (df1.info())
print (df2.info())
print (df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 10 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ISO                                     180 non-null    object
 1   COUNTRY                                 180 non-null    object
 2   REGION                                  180 non-null    object
 3   month_year                              180 non-null    object
 4   Public health measures                  180 non-null    int64
 5   Movement restrictions                   180 non-null    int64
 6   Social distancing                       180 non-null    int64
 7   Governance and socio-economic measures  180 non-null    int64
 8   Lockdown                                180 non-null    int64
 9   Humanitarian exemption                  180 non-null    int64
dtypes: int64(6), object(4)
memory usage: 14.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ISO               372 non-null    object
 1   REGION            372 non-null    object
 2   COUNTRY           372 non-null    object
 3   month_year        372 non-null    object
 4   population        372 non-null    int64
 5   stringency_index  372 non-null    int64
 6   total_cases       372 non-null    int64
 7   total_deaths      372 non-null    int64
 8   total_tests       372 non-null    int64
dtypes: int64(5), object(4)
memory usage: 26.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ISO                   372 non-null    object
 1   REGION                372 non-null    object
 2   COUNTRY               372 non-null    object
 3   month_year            372 non-null    object
 4   population            372 non-null    float64
 5   new_cases             372 non-null    int64
 6   new_deaths            372 non-null    int64
 7   partially_vaccinated  372 non-null    int64
 8   fully_vaccinated      372 non-null    int64
dtypes: float64(1), int64(4), object(4)
memory usage: 26.3+ KB
None

In [5]:
df = pd.merge(df2, df3, on=['ISO','REGION','COUNTRY','month_year','population'])
df.head()

,ISO,REGION,COUNTRY,month_year,population,stringency_index,total_cases,total_deaths,total_tests,new_cases,new_deaths,partially_vaccinated,fully_vaccinated
0,ARG,South America,Argentina,2020-01,45195777,11,0,0,432,0,0,0,0
1,ARG,South America,Argentina,2020-02,45195777,11,0,0,517,0,0,0,0
2,ARG,South America,Argentina,2020-03,45195777,100,1054,27,7189,1054,27,0,0
3,ARG,South America,Argentina,2020-04,45195777,100,4428,218,70283,3374,191,0,0
4,ARG,South America,Argentina,2020-05,45195777,94,16851,539,202421,12423,321,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372 entries, 0 to 371
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ISO                   372 non-null    object
 1   REGION                372 non-null    object
 2   COUNTRY               372 non-null    object
 3   month_year            372 non-null    object
 4   population            372 non-null    int64
 5   stringency_index      372 non-null    int64
 6   total_cases           372 non-null    int64
 7   total_deaths          372 non-null    int64
 8   total_tests           372 non-null    int64
 9   new_cases             372 non-null    int64
 10  new_deaths            372 non-null    int64
 11  partially_vaccinated  372 non-null    int64
 12  fully_vaccinated      372 non-null    int64
dtypes: int64(9), object(4)
memory usage: 40.7+ KB

In [7]:
df_final = pd.merge(df1, df, on=['ISO','REGION','COUNTRY','month_year'])
df_final.head()

,ISO,COUNTRY,REGION,month_year,Public health measures,Movement restrictions,Social distancing,Governance and socio-economic measures,Lockdown,Humanitarian exemption,population,stringency_index,total_cases,total_deaths,total_tests,new_cases,new_deaths,partially_vaccinated,fully_vaccinated
0,ARG,Argentina,South America,2020-02,1,0,0,0,0,0,45195777,11,0,0,517,0,0,0,0
1,ARG,Argentina,South America,2020-03,1,1,1,1,1,0,45195777,100,1054,27,7189,1054,27,0,0
2,ARG,Argentina,South America,2020-04,1,1,0,1,1,0,45195777,100,4428,218,70283,3374,191,0,0
3,ARG,Argentina,South America,2020-05,1,1,1,1,1,0,45195777,94,16851,539,202421,12423,321,0,0
4,ARG,Argentina,South America,2020-06,1,1,1,1,1,0,45195777,91,64530,1307,451600,47679,768,0,0

In [8]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 0 to 174
Data columns (total 19 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ISO                                     175 non-null    object
 1   COUNTRY                                 175 non-null    object
 2   REGION                                  175 non-null    object
 3   month_year                              175 non-null    object
 4   Public health measures                  175 non-null    int64
 5   Movement restrictions                   175 non-null    int64
 6   Social distancing                       175 non-null    int64
 7   Governance and socio-economic measures  175 non-null    int64
 8   Lockdown                                175 non-null    int64
 9   Humanitarian exemption                  175 non-null    int64
 10  population                              175 non-null    int64
 11  stringency_index                        175 non-null    int64
 12  total_cases                             175 non-null    int64
 13  total_deaths                            175 non-null    int64
 14  total_tests                             175 non-null    int64
 15  new_cases                               175 non-null    int64
 16  new_deaths                              175 non-null    int64
 17  partially_vaccinated                    175 non-null    int64
 18  fully_vaccinated                        175 non-null    int64
dtypes: int64(15), object(4)
memory usage: 27.3+ KB

In [9]:
df_final.drop(['ISO','REGION'], inplace=True, axis=1)

In [10]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 0 to 174
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   COUNTRY                                 175 non-null    object
 1   month_year                              175 non-null    object
 2   Public health measures                  175 non-null    int64
 3   Movement restrictions                   175 non-null    int64
 4   Social distancing                       175 non-null    int64
 5   Governance and socio-economic measures  175 non-null    int64
 6   Lockdown                                175 non-null    int64
 7   Humanitarian exemption                  175 non-null    int64
 8   population                              175 non-null    int64
 9   stringency_index                        175 non-null    int64
 10  total_cases                             175 non-null    int64
 11  total_deaths                            175 non-null    int64
 12  total_tests                             175 non-null    int64
 13  new_cases                               175 non-null    int64
 14  new_deaths                              175 non-null    int64
 15  partially_vaccinated                    175 non-null    int64
 16  fully_vaccinated                        175 non-null    int64
dtypes: int64(15), object(2)
memory usage: 24.6+ KB

In [11]:
### check duplication
duplicates = df_final[df_final.duplicated(keep=False)] # showing all duplicated records
print ("There are "+ str(len(duplicates)) + " duplicate records found")
duplicates.sort_values(by=duplicates.columns.tolist()).head()

There are 0 duplicate records found

Empty DataFrame
Columns: [COUNTRY, month_year, Public health measures, Movement restrictions, Social distancing, Governance and socio-economic measures, Lockdown, Humanitarian exemption, population, stringency_index, total_cases, total_deaths, total_tests, new_cases, new_deaths, partially_vaccinated, fully_vaccinated]
Index: []

In [12]:
df_final = df_final.drop_duplicates(keep='last')
df_final.shape

(175, 17)

In [13]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 0 to 174
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   COUNTRY                                 175 non-null    object
 1   month_year                              175 non-null    object
 2   Public health measures                  175 non-null    int64
 3   Movement restrictions                   175 non-null    int64
 4   Social distancing                       175 non-null    int64
 5   Governance and socio-economic measures  175 non-null    int64
 6   Lockdown                                175 non-null    int64
 7   Humanitarian exemption                  175 non-null    int64
 8   population                              175 non-null    int64
 9   stringency_index                        175 non-null    int64
 10  total_cases                             175 non-null    int64
 11  total_deaths                            175 non-null    int64
 12  total_tests                             175 non-null    int64
 13  new_cases                               175 non-null    int64
 14  new_deaths                              175 non-null    int64
 15  partially_vaccinated                    175 non-null    int64
 16  fully_vaccinated                        175 non-null    int64
dtypes: int64(15), object(2)
memory usage: 24.6+ KB

In [14]:
df_final['COUNTRY'].unique()

array(['Argentina', 'Australia', 'Brazil', 'Canada', 'China', 'France',
       'Germany', 'India', 'Indonesia', 'Italy', 'Japan', 'Mexico',
       'Russia', 'Saudi Arabia', 'South Africa', 'Turkey',
       'United Kingdom', 'United States'], dtype=object)

In [15]:
# Writing the clean dataframe to csv file
df_final.to_csv('../cleaned_csv/integrated_data.csv', index=False)